body {
    background-image: url(../images/OFVgeD.jpg);
    background-position: center;  
    background-size: cover;
    background-repeat: no-repeat;
    font-size: 20px;
}

.row {
    min-height: 95vh;
}

label {
    text-align: left;
    width: 125px;
}

.btn {
    margin-bottom: 7px;
} 